body {
    @include size(100vh, 100vw);
    position: relative;
    background-image: url('../images/background/background.jpg');
    background-repeat: repeat;
    font-size: $primary-font-size;
    color: $primary-aqua-color;
}

.container {
    @include size(100%, 100%);
    @include flexCenter;
}

.start {
    @include size(99%, 62%);
    @include borderWithShadow;
    padding: 20px;
    border-radius: 2%;
    background-color: $primary-dark-color;
}

.info {
    @include size(99%, 62%);
    @include borderWithShadow;
    padding: 20px;
    border-radius: 2%;
    background-color: $primary-dark-color;
}
.settings {
    @include size(99%, 62%);
    @include borderWithShadow;
    padding: 20px;
    border-radius: 2%;
    background-color: $primary-dark-color;
    &__options {
        margin: 10vh auto;
        @include size(60%, 60%);
        @include flexCenter;
        position: relative;
        transition: 0.2s;
    }
}
