@import './mixins';
@import './variables';
@import './reset';

h1 {
    @include specialFontStyle();
    letter-spacing: 2px;
    text-align: center;
    &::first-letter {
        font-size: 55px;
    }
}

h2,
pre {
    width: 80%;
    margin: 10px auto;
    color: $primary-red-color;
}
