@import './mixins';
@import './variables';
@import './reset';

h1 {
    @include specialFontStyle();
    letter-spacing: 2px;
    text-align: center;
    &::first-letter {
        font-size: 55px;
    }
}

h2,
pre {
    width: 80%;
    margin: 10px auto;
    color: $primary-red-color;
}

details {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}
summary {
    font-size: 20px;
}

.warning {
    text-align: center;
    color: $primary-red-color;
}
