details {
    margin: 2.5vh auto;
    width: 50%;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 5px;
    background: darken($color: $primary-white-color, $amount: 84);
}

summary {
    padding: 1rem;
    font-size: 15px;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    color: $primary-aqua-color;
    border: 1px solid darken($color: $primary-aqua-color, $amount: 30);
    border-radius: 5px;
    background: $primary-dark-color;
}

summary:before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent $primary-aqua-color;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display: none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}
