.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.list__element {
    flex-grow: 1;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    list-style: none;
    color: $primary-white-color;

    .btn-nav {
        width: 100%;
        height: 80%;
    }
}
