$spaceshipHeight: calc((#{$basic-unit} * 2));
$spaceshipWidth: calc((#{$basic-unit} * 2));

.mothership_blue {
    @include size($spaceshipWidth, $spaceshipHeight);
    @include imageBackgroundStyles;
    background-image: url('../images/base/mothership_blue.png');
}
.mothership_red {
    @include size($spaceshipWidth, $spaceshipHeight);
    @include imageBackgroundStyles;
    background-image: url('../images/base/mothership_red.png');
}
