.table {
    @include size(70%, 95%);
    margin-top: 2.5%;
    position: relative;
    padding: 1px;
    border: 2px solid darken($color: $primary-white-color, $amount: 5);
}

th,
td {
    background-color: $primary-dark-color;
    padding: 15px;
    border: 2px solid $primary-white-color;
    color: $primary-aqua-color;
}

td {
    color: $primary-white-color;
    text-align: center;
}
