.table {
    margin-top: 2.5%;
    padding: 1px;
    @include size(70%, 95%);
    border: 1px solid darken($color: $primary-white-color, $amount: 5);
    background-color: darken($color: $primary-white-color, $amount: 84);
    border-radius: 6px;
}

th,
td {
    padding: 15px;
    background-color: darken($color: $primary-white-color, $amount: 84);
    color: $primary-aqua-color;
}

td {
    font-size: 15px;
    color: $primary-white-color;
    background-color: $primary-dark-color;
}
