@mixin small-ship {
    @include size($basic-unit, $basic-unit);
    @include imageBackgroundStyles();
    animation: spaceship-small infinite forwards 0.3s steps(5);
}

@keyframes spaceship-small {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: calc(-5 * #{$basic-unit});
    }
}

.spaceship_small_blue {
    @include small-ship();
    background-image: url('../images/sprites/normal/blue_spaceships/spaceship_small.png');
}

.spaceship_small_red {
    @include small-ship();
    background-image: url('../images/sprites/normal/red_spaceships/spaceship_small.png');
}
.spaceship_small_blue--rotated {
    @include small-ship();
    background-image: url('../images/sprites/rotated/blue_spaceships/spaceship_small.png');
}
.spaceship_small_red--rotated {
    @include small-ship();
    background-image: url('../images/sprites/rotated/red_spaceships/spaceship_small.png');
}
